#forum_categories
  %img{:src => "http://www.pandoradiscussionarea.com/styles/pandora/imageset/pandora_noflash7.jpg"}
#features
  #fcategory
    %img{:src => "http://www.pandoradiscussionarea.com/download/file.php?mode=view2&id=21&sid=cd6c4042d043e76769bcbacfce7f5740" }
    %h3 Featured Category
    %p How has technology changed your music listening experience?
  #fartist
    %img{:src => "http://www.pandoradiscussionarea.com/download/file.php?mode=view2&id=21&sid=cd6c4042d043e76769bcbacfce7f5740"}
    %h3 Featured Artist
    %p Check out the Easy Star All Stars Tour Diary
  #fpost
    %img{:src => "http://www.pandoradiscussionarea.com/download/file.php?mode=view2&id=21&sid=cd6c4042d043e76769bcbacfce7f5740"}
    %h3 Featured Post
    %p Who have you discovered on Pandora?
  #fmember
    %img{:src => "http://www.pandoradiscussionarea.com/download/file.php?mode=view2&id=21&sid=cd6c4042d043e76769bcbacfce7f5740"}
    %h3 Featured Member
    %p John Brown's Body